.footer__copyright {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: right;
    margin: 0;
    grid-row: 1;
    align-self: center;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
}
@media screen and (max-width: 768px) {
    .footer__copyright {
        line-height: calc(16px + (14 - 16) * ((100vw - 320px) / (768 - 320)));
    }
}
@media screen and (max-width: 470px) {
    .footer__copyright {
        line-height: 14px;
        text-align: left;
        grid-row: 6;
        padding-top: calc(48px - (48px + (20 - 48) * ((100vw - 320px) / (480 - 320))));;
    }
}
@media screen and (max-width: 320px) {
    .footer__copyright{
        padding-top: 48px;
    }
}