.place__url-site{
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: white;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
}
.place__url-site:hover{
    opacity: 70%;
}