.intro__title {
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
    text-align: left;
    margin: auto;
    padding-bottom: 40px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
}